[data-md-color-primary="indigo"] {
  --md-primary-fg-color: #221d2d;
  --md-primary-bg-color: #efefef;
}

.md-typeset .grid.grid--5 {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 9rem), 1fr));
}

.md-typeset hr {
  margin: 4rem 0;
}

.md-nav__title,
.md-nav__item--section > .md-nav__link {
  font-size: 0.8rem;
  border-bottom: 0.05rem solid var(--md-default-fg-color--lightest);
}

.md-nav__item--section > .md-nav__link {
  padding-top: 12px;
  border-bottom: 0.05rem solid var(--md-default-fg-color--lightest);
}

.md-nav__toggle ~ .md-nav > .md-nav__list {
  padding-left: 1rem;
}
